@media only screen and (min-width: 48em) {
  .works__gallery {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .grid__section {
    position: inherit;
    width: 30%;
    height: 12rem;
  }

  .grid__section__hover__btn {
    display: none;
  }

  .blog__list {
    flex-direction: row;
  }

  .quote__container {
    background-size: cover;
  }

  .quote__content {
    width: 95%;
    margin: 10% auto;
  }

  .quote__text {
    margin-bottom: 5%;
  }

  .contact__container {
    background-size: 190%;
  }

  .contact__title {
    margin-top: 5%;
  }

  .contact__subtitle {
    margin-top: 3%;
    margin-bottom: 7%;
  }

  .contact__form {
    width: 60%;
  }

  .contact__btn {
    width: 25%;
  }
}

@media only screen and (min-width: 64em) {
}
