* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-size: 100%;
  --font-color: #ffffff;
  --p-color: #6a6a6a;
  --main-h2-color: #3a4f52;
  --bg-grid-color: #c3c9cc;
  --bg-section-op: #000000;
  --read-more-color: #4da7ca;
  --form-color: #cccccc;
  --imghover-color: #02383a;
  --bg-contact-img-color: #405162;
  --footer-color: #2b3e51;
  --bg-color: #f1f0f0;
  /* Contact form: bg opacity 20% */
}

@font-face {
  font-family: "alegreya_sans";
  src: url(../fonts/Alegreya_Sans/AlegreyaSans-Regular.ttf);
}

@font-face {
  font-family: "alegreya_sc";
  src: url(../fonts/Alegreya_SC/AlegreyaSC-Regular.ttf);
}

@font-face {
  font-family: "helvetica_neue";
  src: url(../fonts/Helvetica_Neue/HelveticaNeue-Roman.otf);
}

@font-face {
  font-family: "helvetica_neue_bold";
  src: url(../fonts/Helvetica_Neue/HelveticaNeue-Bold.otf);
}

@font-face {
  font-family: "nixie_one";
  src: url(../fonts/Nixie_One/NixieOne-Regular.ttf);
}

html {
  font-family: "helvetica_neue";
  background: var(--bg-color);
}

a {
  text-decoration: none;
}

/*! ================================================================== */

nav {
  height: 15vh;
}

.nav__menu {
  width: 30px;
  height: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  right: 20px;
  bottom: 28px;
  margin-left: auto;
}

.nav__menu div {
  display: block;
  height: 5px;
  background-color: var(--font-color);
  border-radius: 2px;
}

nav h2 {
  font-size: 40px;
  font-family: "alegreya_sc";
  color: var(--font-color);
  width: max-content;
  position: relative;
  top: 15%;
  left: 5%;
}

/*! ================================================================== */

.hero {
  background: url(../img/intro-bg.png) center/cover no-repeat;
  height: 100vh;
}

.hero__header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 65vh;
  gap: 5px;
}

.header__title {
  font-size: clamp(3.25rem, 2.9769rem + 1.165vw, 4.375rem);
  font-family: "nixie_one";
  color: var(--font-color);
  font-weight: 100;
}

.header__subtitle {
  font-size: clamp(1.25rem, 1.0983rem + 0.6472vw, 1.875rem);
  font-family: "alegreya_sc";
  color: var(--font-color);
  opacity: 0.6;
}

/*! ================================================================== */

.section-container {
  padding-top: 6%;
  padding-left: 7%;
}

.section__title {
  font-size: clamp(2.5rem, 2.3483rem + 0.6472vw, 3.125rem);
  font-family: "alegreya_sans";
  font-weight: 900;
  color: var(--main-h2-color);
  width: max-content;
  margin-top: 10px;
}

.section__subtitle {
  font-size: clamp(1rem, 0.9697rem + 0.1294vw, 1.125rem);
  color: var(--p-color);
  width: max-content;
  margin-top: 20px;
}

.section__btn {
  border: 2px solid var(--main-h2-color);
  width: 120px;
  height: 60px;
  text-align: center;
  align-content: center;
  position: absolute;
  transform: translate(60vw, -130%);
}

.section__btn button {
  font-size: clamp(1.25rem, 1.1893rem + 0.2589vw, 1.5rem);
  border: none;
}

/*! ================================================================== */

.works__gallery {
  margin: 100px auto;
  width: 90vw;
}

.grid__section {
  height: 17rem;
  margin: 20px auto;
  position: relative;
}

.grid__section__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.grid__section__hover__btn {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #02383ab9;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.grid__section__hover__btn button {
  font-size: clamp(1rem, 0.9393rem + 0.2589vw, 1.25rem);
  font-family: "helvetica_neue";
  display: inline-block;
  text-align: center;
  padding: 1em 1.8em;
  border: 2px solid var(--font-color);
  position: relative;
  color: var(--font-color);
  background: none;
}

/*! ================================================================== */

.services {
  background: url(../img/services-bg.png) center/cover no-repeat;
  display: flex;
  align-items: center;
}

.shadow__background {
  background-color: #00000033;
  margin: 25% auto;
  height: 90%;
  text-align: center;
}

.services__list {
  width: 80%;
  margin: 10% auto;
}

.services__title {
  font-size: clamp(3.125rem, 3.0947rem + 0.1294vw, 3.25rem);
  font-family: "alegreya_sans";
  font-weight: 900;
  color: var(--font-color);
  letter-spacing: 3px;
  margin-top: 30px;
}

.services__subtitle {
  font-size: clamp(1.25rem, 1.1893rem + 0.2589vw, 1.5rem);
  color: var(--font-color);
  margin-top: 25px;
}

.services__item {
  margin-top: 50px;
}

.services__item-title {
  font-size: clamp(2.1875rem, 2.0358rem + 0.6472vw, 2.8125rem);
  font-family: "alegreya_sans";
  color: var(--font-color);
  margin-top: 10px;
}

.services__item-text {
  font-size: clamp(1.25rem, 1.2045rem + 0.1942vw, 1.4375rem);
  color: var(--font-color);
  margin-top: 15px;
  line-height: 1.3;
}

/*! ================================================================== */

.blog__list {
  width: 90%;
  margin: 16% auto;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.blog__post__img {
  width: 100%;
  margin-top: 8%;
}

.blog__post__title {
  font-size: clamp(2.125rem, 2.034rem + 0.3883vw, 2.5rem);
  font-family: "alegreya_sans";
  color: var(--main-h2-color);
  margin-top: 5%;
}

.blog__post__date {
  font-size: clamp(1rem, 0.9393rem + 0.2589vw, 1.25rem);
  font-style: italic;
  color: var(--p-color);
  margin-top: 3%;
}

.blog__post__text {
  font-size: clamp(1rem, 0.9393rem + 0.2589vw, 1.25rem);
  color: var(--p-color);
  line-height: 1.6;
  margin-top: 3%;
  margin-bottom: 8%;
}

.blog__post__link {
  font-size: clamp(1rem, 0.9393rem + 0.2589vw, 1.25rem);
  color: var(--read-more-color);
}

/*! ================================================================== */

.quote__container {
  background: url(../img/lower-section-bg.png) center/250% auto no-repeat;
  height: 100%;
  display: flex;
  align-items: center;
}

.quote__content {
  height: 70%;
  width: 80%;
  padding: 2%;
}

.quote__text {
  font-size: 2.5rem;
  font-family: "alegreya_sans";
  color: var(--font-color);
  margin-bottom: 20%;
}

.btn__quote button {
  font-size: 1.25rem;
  font-family: "helvetica_neue";
  text-align: center;
  padding: 1em 1.8em;
  border: 2px solid var(--font-color);
  position: relative;
  color: var(--font-color);
  background: none;
  margin-bottom: 4%;
}

/*! ================================================================== */

.testimonials {
  text-align: center;
}

.testimonials__title {
  font-size: clamp(2.8125rem, 2.6608rem + 0.6472vw, 3.4375rem);
  font-family: "alegreya_sans";
  color: var(--main-h2-color);
  margin-top: 8%;
}

.testimonials__subtitle {
  font-size: clamp(1.125rem, 1.0947rem + 0.1294vw, 1.25rem);
  color: var(--p-color);
  margin-top: 5%;
}

.testimonials__list {
  margin: auto;
  width: 80%;
}

.testimonials__img {
  width: 200px;
  height: 200px;
  border-radius: 100%;
  object-fit: cover;
  margin-top: 20%;
}

.testimonials__text {
  font-size: clamp(1rem, 0.9393rem + 0.2589vw, 1.25rem);
  color: var(--p-color);
  line-height: 1.5;
  width: 80%;
  margin: 5% auto;
}

.testimonials__person {
  font-size: clamp(1rem, 0.9393rem + 0.2589vw, 1.25rem);
  color: var(--p-color);
  line-height: 1.6;
}

.testimonials__person span {
  font-family: "helvetica_neue_bold";
  color: var(--bg-section-op);
}

/*! ================================================================== */

.contact__container {
  background: url(../img/contact-bg.png) center/cover no-repeat;
  height: 52rem;
  display: flex;
  align-items: center;
  margin-top: 15%;
}

.contact__form__container {
  margin: auto;
  height: 70%;
  width: 100%;
}

.contact__title {
  font-size: clamp(3.125rem, 3.0492rem + 0.3236vw, 3.4375rem);
  font-family: "alegreya_sans";
  color: var(--font-color);
  margin-top: 10%;
}

.contact__subtitle {
  font-size: clamp(1.25rem, 1.1893rem + 0.2589vw, 1.5rem);
  color: var(--font-color);
  margin-top: 5%;
  margin-bottom: 10%;
}

.contact__form {
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.contact__btn {
  font-size: clamp(1.25rem, 1.1893rem + 0.2589vw, 1.5rem);
  text-align: center;
  width: 30%;
  margin: auto;
  padding: 0.6em 0.8em;
  border: 2px solid var(--font-color);
  position: relative;
  color: var(--font-color);
  background: none;
}

.input__field input,
.input__field textarea {
  font-size: clamp(1rem, 0.9697rem + 0.1294vw, 1.125rem);
  padding: 18px 15px;
  border-radius: 8px;
  border: solid 1px var(--font-color);
  color: var(--font-color);
  letter-spacing: 1px;
  width: 100%;
  background: none;
  resize: none;
}

.input__field input::placeholder,
.input__field textarea::placeholder {
  color: var(--font-color);
}

/*! ================================================================== */

footer {
  min-height: 11rem;
  background-color: var(--footer-color);
}

.footer__copyright {
  font-size: 1rem;
  line-height: 1.6;
  color: var(--font-color);
  position: absolute;
  margin-top: 6%;
  margin-left: 4%;
  width: 40vw;
}
